<div class="row">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 >Hello!</h3>
            <p>
                Thank you for putting time aside to take part of this evaluation exercise.
                The following steps will explain the details of the exercise and what is expected from you. Completion will take
                approximately 30-45 minutes. You will be able to save your work and come back to complete it at any time.
                Please hit the start button below when ready.
            </p>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-6 text-center col-sm-offset-3">
            <button style="height:50px;width:90px;" class="btn btn-success" type="button" ng-click="start()">Start</button>
        </div>
    </div>
</div>