<nav class="container-fluid navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#about">Welcome</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="!vm.auth.isAuthenticated()"><a ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li ng-show="vm.auth.isAuthenticated()"><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>