<div class="row">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Background</h3>
            <p>
                Every year schools, in states that provide tenure, must decide which teachers would be promoted for tenure.
                This year in an initiative to improve its tenure selection process, the tenure board at Kingston Elementary School’s (K.E.S) <sup>*</sup>
                decided to solicit outside input on its tenure decisions. The board believes that accepting outside
                counsel would increase diversity of opinion and ensure justice in the selection process. K.E.S is committed to providing students
                with highest quality of education, a goal possible only by promoting the best educators.
            </p>
            </br>
            <p><strong>We ask for your help!</strong>
            </p>
            </br>
            <p>
                On the next page we explain what tenure is, what is required of teachers to be promoted for tenure, and how you could help us make sure
                that our promotion process is transparent, fair, and effective.
            </p>
            </br>
            <p>
                Thank you for taking time to make sure our kids receive the best education possible. When we put the best educators to the job, everyone wins.
            </p>
            </br>
            <p style="font-size:0.9em;color:maroon ">
                <sup>*</sup> In order to protect the school's privacy and make sure any previous knowledge of the school doesn't influence your response, we are using the Kingston Elementary School (K.E.S) pseudonym. Any resemblance to any educational facilities is purely coincidental.
            </p>
            </br>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-6 text-center col-sm-offset-3">
            <button class="btn btn-primary" type="button" ng-click="next()">Continue</button>
        </div>
    </div>
</div>