<div class="row">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 >Procedure</h3>
            <p>
                As part of Kingston Elementary School’s (K.E.S) <sup>*</sup> initiative to improve its tenure selection process, the tenure board has decided to accept outside input on its tenure decisions. The board believes that accepting outside counsel would increase diversity of opinion and ensure justice in the selection process. K.E.S is committed to providing students with highest quality of education, a goal possible only by promoting the best educators.
            </p>
            </br>
            <p><strong>Congratulations,</strong> you have been selected to aid with the tenure selection decisions! Accomplishing tenure, in states that provide it, is a monument milestone in every teacher’s career. Please be mindful of the impact your decisions will have on personnel selection.
            </p>
            </br>
            <p>
                After you have read and understood the description of the tenure process, you will be asked to make 10 selection decisions. For each decision you will provided with two dossiers of teachers; both have met the minimum requirements for tenure. Names, or any identifying information, will be masked to protect the teachers’ privacy. The two dossiers will be available for evaluation side by side. Each dossier is organized by job function. Under each job function, you’ll find three evaluations of the teacher’s performance on that specific function over the past 4 years. Those evaluations are written by the teachers’ supervisors. You are free to review as many of such evaluations per function as you think is necessary before you can reach a decision. Only one of the two teachers will receive the promotion. Your choice will be used as a contributing factor in the final decision.
            </p>
            </br>
            <p>
                After making each recommendation decision you will be asked to provide a breif explanation for your choice. You will also be asked to describe the level of confidence you have in the choice you make.
            </p>
            </br>
            <p>
                Thank you for taking time to make sure our kids receive the best education possible. When we put the best educators to the job, everyone wins.
            </p>
            </br>
            <p style="font-size:0.9em;color:maroon ">
                <sup>*</sup> In order to protect the school's privacy and make sure any previous knowledge of the school doesn't influence your response, we are using the Kingston Elementary School (K.E.S) pseudonym. Any resemblance to any educational facilities is purely coincidental.
            </p>
            </br>
            <label><input type="checkbox" value="" ng-model="checkboxStatus" ng-click="checkBox()" required> I understand</label>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-6 text-center col-sm-offset-3">
            <button class="btn btn-primary" ng-disabled="!checkboxStatus" type="button" ng-click="next()">Continue</button>
        </div>
    </div>
</div>